<form>
<div id="collapse1" class="collapse show">
            <div class="card-body">

		<div class="form-group">
			<label class="col-md-4 control-label" for="txtcodigo_produto_id">Codigo do Produto : </label>  
			<div class="col-md-2">
			<input id="txtcodigo_produto_id" name="txtcodigo_produto_id" type="text" placeholder="" class="form-control input-md"> 
			</div>
		</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtproduto">Nome do Produto : </label>  
  <div class="col-md-6">
  <input id="txtproduto" name="txtproduto" type="text" placeholder="Descricao do Produto" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtgrupo">Categoria : </label>
  <div class="col-md-4">
    <select id="txtgrupo" name="txtgrupo" class="form-control">
      <option value="0"></option>
      <option value="1">Basquete</option>
      <option value="2">Volei</option>
      <option value="3">Tenis</option>
	  <option value="4">Futebol</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtqtd">Quantidade : </label>  
  <div class="col-md-2">
  <input id="txtqtd" name="txtqtd" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class ="col-md-4 control-label" for="exampleFormControlFile1">Insira a Imagem do Produto</label>
	<div class ="col-md-4">
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
	</div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnsalvar"></label>
  <div class="col-md-8">
    <button id="btnsalvar" name="btnsalvar" class="btn btn-success">Salvar</button>
    <button id="btncancelar" name="btncancelar" class="btn btn-danger">Cancelar</button>
  </div>
</div>
</div>
</div>
</form>