<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="main">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">TISafeVendas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categoria</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="ListaProdFut.html">Futebol</a>
                    <a class="dropdown-item" href="ListaProdBas.html">Basquete</a>
                    <a class="dropdown-item" href="ListaProdVol.html">Volei</a>
                    <a class="dropdown-item" href="ListaProdTen.html">Tenis</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="CadastroProduto.html">Adicionar produto</a>
            </li>
        </ul>	
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right: 5px;">Search</button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <a href="Carrinho.html" class="btn btn-success" role="button" style="margin-right: 5px;"><span><i class="fas fa-cart-plus"></i></span></a>
    <button class="btn btn-primary	my-2 my-sm-0" type="button" data-toggle="modal" data-target="#loginModal">Login</button>
    </div>
</nav>
<div class="container form_container">
    <h3 class="text-center">Cadastro de Produtos</h3>
    <form>
<div id="collapse1" class="collapse show">
            <div class="card-body">

		<div class="form-group">
			<label class="col-md-4 control-label" for="txtcodigo_produto_id">Codigo do Produto : </label>  
			<div class="col-md-2">
			<input id="txtcodigo_produto_id" name="txtcodigo_produto_id" type="text" placeholder="" class="form-control input-md"> 
			</div>
		</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtproduto">Nome do Produto : </label>  
  <div class="col-md-6">
  <input id="txtproduto" name="txtproduto" type="text" placeholder="Descricao do Produto" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtgrupo">Categoria : </label>
  <div class="col-md-4">
    <select id="txtgrupo" name="txtgrupo" class="form-control">
      <option value="0"></option>
      <option value="1">Basquete</option>
      <option value="2">Volei</option>
      <option value="3">Tenis</option>
	  <option value="4">Futebol</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtqtd">Quantidade : </label>  
  <div class="col-md-2">
  <input id="txtqtd" name="txtqtd" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class ="col-md-4 control-label" for="exampleFormControlFile1">Insira a Imagem do Produto</label>
	<div class ="col-md-4">
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
	</div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnsalvar"></label>
  <div class="col-md-8">
    <button id="btnsalvar" name="btnsalvar" class="btn btn-success">Salvar</button>
    <button id="btncancelar" name="btncancelar" class="btn btn-danger">Cancelar</button>
  </div>
</div>
</div>
</div>
</form>
</div>
<footer>
  <div class="container">
    <p>Este site se encontra sob desenvolvimento pela TISafe, Papi Studio e Dandan Solutions.</p>
    <p>Caso queira entrar em contato com algum de nos, pode nos encontrar nas seguintes plataformas: [Inserir plataformas aqui]</p>
  </div>
</footer>    
</div>
<!-- Inicio do Login modal-->
<div class="modal" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                    <div class="form-label-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    </div>
                    <div class="form-label-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <li class="nav-item">
                        <a class="nav-link" href="CadastroCliente.html">Adicionar cliente</a>
                    </li>
                    <p class="mt-5 mb-3 text-muted text-center">© 2018-2019</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- fim do login modal-->
</body>
</html>